@font-face {
  font-family: DIN;
  src: url(../src/assets/font/DIN.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: DIN;
}

.App {
  background: url(../src/assets/images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home {
  height: calc(100vh - 80px);
  position: relative;
}

.homepage-text {
  position: absolute;
  top: 200px;
  left: 135px;
}

.homepage-btn {
  background-color: #e1cbae;
  font-weight: bold;
  outline: none;
  border: none;
  position: absolute;
  top: 400px;
  left: 148px;
  font-size: 16px;
  padding: 16px 48px 16px 48px;
  border-radius: 75px;
}



.navbar {
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #f1f1f1;
  margin-left: 20px;
  font-size: 25px;
}

.links a:hover {
  color: #e1cbae;
  text-shadow:0px 0px 30px #e1cbae;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cart-item-count {
  font-size: 18px;
}



.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shopTitle,
.cartTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
}

h1 {
  color: #f1f1f1;
}

.products-container,
.cart-container {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  padding: 48px 0;
}

.products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
  place-items: center;
  color: #f1f1f1;
}

.product {
  border-radius: 15px;
  padding: 0 0 10px 0;
  background-color: #292d34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(255, 255, 255, 0.2);
}

.product img {
  width: 250px;
  border-radius: 15px 15px 0 0;
  margin-bottom: 12px;
}

.product .description {
  text-align: center;
}

.description > * {
  margin-bottom: 12px;
}

.product:hover {
  cursor: pointer;
}

.addToCartBtn {
  background-color: #e1cbae;
  border: none;
  outline: none;
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
}

.addToCartBtn:hover,
.checkout button:hover,
.countHandler button:hover,
.homepage-btn:hover {
  background-color: #877968;
  color: #f1f1f1;
  cursor: pointer;
}



.cart {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  color: #f1f1f1;
}

.cartItems > :not(:last-child) {
  margin-bottom: 20px;
}

.cartItem {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 15px rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  background-color: #292d34;
}

.cartItem img {
  margin-right: 18px;
}

.cart-description > :not(:last-child) {
  margin-bottom: 12px;
}

.cart-description > p {
  font-size: 18px;
}

.description {
 display: flex;
 flex-direction: column;
}

.countHandler {
  display: flex;
}

.countHandler button {
  padding: 5px;
  height: 24px;
  width: 24px;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #e1cbae;
  cursor: pointer;
  font-size: 18px;  
  font-weight: bold;
}

.add-btn {
  border-radius: 0 25px 25px 0;
}

.minus-btn {
  border-radius: 25px 0 0 25px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  border: none;
  background-color: #f1f1f1;
}

.checkout {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding-bottom: 48px;
  flex: 1;
}

.checkout button {
  width: 175px;
  height: 50px;
  background-color: #e1cbae;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.checkout > h2 {
  margin-bottom: 10px;
}

.empty-cart {
  background: rgba(0, 0, 0, 0.75);
  flex: 1;
  text-align: center;
}